header {
    min-height: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.logo {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}

.theme-container {
    display: flex;
    align-items: center;
}

.theme-container span {
    color: #000000;
    margin-right: 10px;
    font-size: 16px;
}

.icon {
    color: #000000;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: rotate(180deg);
}
