/* homepage.css */

.excel-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .excel-table th,
  .excel-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .excel-table th {
    background-color: #0e76bd;
    color: #fff;
  }
  
  .excel-table tbody tr:nth-child(even) {
    background-color: #f5faff;
  }
  
  .excel-table tbody tr:hover {
    background-color: #d1eaff;
  }
  
  .excel-table td:first-child {
    width: 40px; /* กำหนดความกว้างของคอลัมน์ ID */
    text-align: center;
  }
  
  .excel-table td:last-child {
    width: calc(100% - 40px); /* กำหนดความกว้างของคอลัมน์ Name */
  }
  