header {
    background-color: #b9b9b9;
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.text-input {
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0056b3;
}
