.otp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.otp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

.otp-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.otp-inputs input {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.otp-submit-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.otp-submit-btn:hover {
  background-color: #0056b3;
}
.phone-number-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 10px;
  width: 300px;
  background: white;
}

.phone-number-form-input {
  width: 100%;
  height: 40px;
  padding: 8px;
  font-size: 24px;
  border: 1px solid #6a87fe;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #333;
}

.phone-number-form button {
  width: 100%;
  height: 40px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.phone-number-form button:hover {
  background-color: #0056b3;
}

.phone-number-form button:disabled {
  background-color: #ffffff;
  cursor: not-allowed;
}