.otp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.otp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

.otp-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.otp-inputs input {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.otp-submit-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.otp-submit-btn:hover {
  background-color: #0056b3;
}
